<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>detail</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/menuStyles.css">
    <link rel="stylesheet" type="text/css" href="/baseFrame.css">
    <!-- jquery cdn -->
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
</head>
<body>

<div th:replace="header :: header"></div>

<div class="container">
    <h2 class="head-text">관리자 일정 현황</h2>
    <div class="item">
        <button onclick="todoAdd()"> 일정 추가</button>
        <div id="notAchieved">
            <h3>미달성 일정 목록</h3>
            <table>
                <tr>
                    <th></th>
                    <th>작성자</th>
                    <th>제목</th>
                    <th>기간</th>
                    <th>등록일</th>
                    <th>비고</th>
                </tr>
                <tr th:each="todo: ${todoList}" th:if="${not #strings.equals(todo.check, true)}">
                    <td><input type="checkbox" th:checked="${todo.check}" th:onclick="'todoCheck(' + ${todo.id} + ')'"/>
                    </td>
                    <td th:text="${todo.writer}"></td>
                    <td th:text="${todo.title}"></td>
                    <td>
                        <span th:text="*{#temporals.format(todo.startTime, 'yy.MM.dd HH:mm ')}"></span>
                        <span th:text="'~'+*{#temporals.format(todo.endTime, ' yy.MM.dd HH:mm')}"></span>
                    </td>
                    <td th:text="*{#temporals.format(todo.createdTime, 'yyyy-MM-dd')}"></td>
                    <td><a th:href="@{|/todo/admin/${todo.id}|}">상세</a></td>
                </tr>
            </table>
        </div>
    </div>

    <div class="item">
        <div id="achieved">
            <h3>달성완료 일정 목록</h3>
            <table>
                <tr>
                    <th></th>
                    <th>작성자</th>
                    <th>제목</th>
                    <th>기간</th>
                    <th>등록일</th>
                    <th>비고</th>
                </tr>
                <tr th:each="todo: ${todoList}">
                    <!-- 추가: 초기 로딩 시 달성 완료인 경우에만 표시 -->
                    <td th:if="${todo.check}"><input type="checkbox" th:checked="${todo.check}"
                                                     th:onclick="'todoCheck(' + ${todo.id} + ')'"/></td>
                    <td th:if="${todo.check}" th:text="${todo.writer}"></td>
                    <td th:if="${todo.check}" th:text="${todo.title}"></td>
                    <td th:if="${todo.check}">
                        <span th:text="*{#temporals.format(todo.startTime, 'yy.MM.dd HH:mm ')}"></span>
                        <span th:text="'~'+*{#temporals.format(todo.endTime, ' yy.MM.dd HH:mm')}"></span>
                    </td>
                    <td th:if="${todo.check}" th:text="*{#temporals.format(todo.createdTime, 'yyyy-MM-dd')}"></td>
                    <td th:if="${todo.check}"><a th:href="@{|/todo/admin/${todo.id}|}">상세</a></td>
                </tr>
            </table>
        </div>
    </div>

</div>

</body>




<script>

    document.addEventListener("DOMContentLoaded", function() {
        // 페이지 로드 시 체크 여부에 따라 체크박스 설정
        const checkboxes = document.querySelectorAll("input[type='checkbox']");
        checkboxes.forEach(function(checkbox) {
            if (checkbox.getAttribute("checked") === "true") {
                checkbox.checked = true;
                moveTodoToAchieved(checkbox.closest("tr"));
            }
        });
    });

    const moveTodoToAchieved = (row) => {
        const achievedDiv = document.getElementById("achieved");
        const achievedTable = achievedDiv.querySelector("table");

        // achieved 클래스를 가진 tr 요소를 추가
        const newRow = achievedTable.insertRow();
        newRow.classList.add("achieved");
        newRow.innerHTML = row.innerHTML;

        row.remove();
    }


    const todoAdd = () => {
        location.href="/todo/admin/add";
    }

    const todoCheck = (todoId) => {
        $.ajax({
            // 요청방식: post, 요청주소: /comment/save, 요청데이터: 작성자, 작성내용, 게시글번호
            type: "post",
            url: "/todo/checkChange",
            data: {
                "todoId": todoId,
                "role": "admin"
            },
            success: function (res) {
                console.log("요청성공", res);
                location.reload();
            },
            error: function (err) {
                console.log("요청실패", err);
            }
        });
    }

</script>

</html>