<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


  <link rel="stylesheet" type="text/css" href="/clubMemberStyles.css">
  <link rel="stylesheet" type="text/css" href="/menuStyles.css">
  <title>list</title>
</head>
<body>

<div th:replace="header :: header"></div>


<div class="clubMember-container">
  <h2 class="head-text">중앙 동아리 목록</h2>

  <br>
  <a class="seeButton" data-toggle="modal" href="#clubAddModal">동아리 추가</a>
  <div class="modal fade" id="clubAddModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">×</button>
          <h1 class="modal-title">동아리 추가</h1>
        </div>
        <div class="modal-body">
          <th:block th:replace="clubAdd::clubAdd"></th:block>
        </div>
      </div>
    </div>
  </div>


  <div class="clubMember-list">
    <table>
      <tr>
        <th>동아리사진</th>
        <th>분과</th>
        <th>동아리명</th>
        <th>동아리 호실</th>
        <th>동아리 비밀번호</th>
        <th>비고</th>
      </tr>
      <tr th:each="club: ${clubList}">
        <td>
          <img src="/noFile.png" alt="Rental Item Image" class="clubPoster">
        </td>
        <td th:text="${club.category}"></td>
        <td th:text="${club.clubName}"></td>
        <td th:text="${club.clubRoom}"></td>
        <td th:text="${club.roomPassword}"></td>
        <td>
          <div>
            <a th:href="@{|/club/${club.id}|}">관리 </a>
            <a th:href="@{|/club/update/${club.id}|}">수정</a>
            <a th:href="@{|/club/delete/${club.id}|}">삭제</a>
          </div>
        </td>
      </tr>
      <tr>
    </table>

  </div>
</div>

</body>
</html>