<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>save</title>
</head>
<body>

<form action="/todo/admin/add" method="post" enctype="multipart/form-data">
    <input type="checkbox" id="scoreCheckBox" onchange="showInputs()" name="scoreCheckBox"> 동아리 평가 여부 <br>

    <div id="scoreInputs" style="display: none;">
        <h3>평가 기준</h3>
        <label for="normalSubmit">정상제출: </label>
        <input type="number" id="normalSubmit" name="normalSubmit" value="0"><br>

        <label for="lateSubmit">지각제출: </label>
        <input type="number" id="lateSubmit" name="lateSubmit" value="0"><br>

        <label for="noSubmit">미제출: </label>
        <input type="number" id="noSubmit" name="noSubmit" value="0"><br>

        <input type="checkbox" id="lateCheckBox" onchange="showLateTimeInput()"> 지각제출 가능 여부 <br>
        <div id="lateTimeInputs" style="display: none;">
            <label for="lateTime"> 지각제출 마감일: </label>
            <input type="datetime-local" id="lateTime" name="lateTime"><br>
        </div>


        <input type="checkbox" id="plusScoreCheckBox" onchange="showPlusScoreInputs()"> 추가점수 여부 <br>
        <div id="plusScoreInputs" style="display: none;">
            <label for="plusRank1"> 1위: </label>
            <input type="number" id="plusRank1" name="plusRank1" value="0"><br>

            <label for="plusRank2">2위: </label>
            <input type="number" id="plusRank2" name="plusRank2" value="0"><br>

            <label for="plusRank3">3위: </label>
            <input type="number" id="plusRank3" name="plusRank3" value="0"><br>
        </div>


    </div>



    <hr>
    해당 동아리:
    <div th:each="club : ${clubList}">
        <input type="checkbox" th:id="${'checkbox-' + club.id}" th:name="checkedList" th:value="${club.id}"/>
        <label th:for="${'checkbox-' + club.id}" th:text="${club.clubName}"></label>
        <br>
    </div>
    작성자: <input type="text" name="writer"> <br>
    제목: <input type="text" name="title"> <br>
    내용: <textarea name="content" cols="30" rows="10"></textarea> <br>
    기간: <input type="datetime-local" name="startTime"> ~ <input type="datetime-local" name="endTime"><br>
    <input type="submit" value="일정 추가">
</form>





<script>
    function showInputs() {
        var checkBox = document.getElementById("scoreCheckBox");
        var scoreInputs = document.getElementById("scoreInputs");

        if (checkBox.checked) {
            scoreInputs.style.display = "block";
        } else {
            scoreInputs.style.display = "none";
        }
    }


    function showLateTimeInput() {
        const checkBox2 = document.getElementById("lateCheckBox");
        const timeInputs2 = document.getElementById("lateTimeInputs");

        if (checkBox2.checked) {
            timeInputs2.style.display = "block";
        } else {
            timeInputs2.style.display = "none";
        }
    }


    function showPlusScoreInputs() {
        const checkBox = document.getElementById("plusScoreCheckBox");
        const scoreInputs = document.getElementById("plusScoreInputs");

        if (checkBox.checked) {
            scoreInputs.style.display = "block";
        } else {
            scoreInputs.style.display = "none";
        }
    }


</script>


</body>


</html>