<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>detail</title>
    <!-- jquery cdn -->
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
</head>
<body>
<button onclick="todoAdd()"> 일정 추가</button>
<hr>
<div id="notAchieved">
    <h3>미달성 일정 목록</h3>
    <table>
        <tr>
            <th> </th>
            <th>id</th>
            <th>작성자</th>
            <th>제목</th>
            <th>내용</th>
            <th>시작일</th>
            <th>종료일</th>
            <th>등록일</th>
            <th>달성 여부</th>
        </tr>
        <tr th:each="todo: ${todoList}" th:if="${not #strings.equals(todo.check, true)}">
            <td><input type="checkbox" th:checked="${todo.check}" th:onclick="'todoCheck(' + ${todo.id} + ')'" /></td>
            <td th:text="${todo.id}"></td>
            <td th:text="${todo.writer}"></td>
            <td th:text="${todo.title}"></td>
            <td th:text="${todo.content}"></td>
            <td th:text="*{#temporals.format(todo.startTime, 'yy.MM.dd HH:mm')}"></td>
            <td th:text="*{#temporals.format(todo.endTime, 'yy.MM.dd HH:mm')}"></td>
            <td th:text="*{#temporals.format(todo.createdTime, 'yy.MM.dd HH:mm')}"></td>
            <td th:text="${todo.check}"></td>
            <td><a th:href="@{|/todo/admin/${todo.id}|}">상세</a></td>
        </tr>
    </table>
</div>

<hr>

<div id="achieved">
    <h3>달성완료 일정 목록</h3>
    <table>
        <tr>
            <th> </th>
            <th>id</th>
            <th>작성자</th>
            <th>제목</th>
            <th>내용</th>
            <th>시작일</th>
            <th>종료일</th>
            <th>등록일</th>
            <th>달성 여부</th>
        </tr>
        <tr th:each="todo: ${todoList}">
            <!-- 추가: 초기 로딩 시 달성 완료인 경우에만 표시 -->
            <td th:if="${todo.check}"><input type="checkbox" th:checked="${todo.check}" th:onclick="'todoCheck(' + ${todo.id} + ')'" /></td>
            <td th:if="${todo.check}" th:text="${todo.id}"></td>
            <td th:if="${todo.check}" th:text="${todo.writer}"></td>
            <td th:if="${todo.check}" th:text="${todo.title}"></td>
            <td th:if="${todo.check}" th:text="${todo.content}"></td>
            <td th:if="${todo.check}" th:text="*{#temporals.format(todo.startTime, 'yy.MM.dd HH:mm')}"></td>
            <td th:if="${todo.check}" th:text="*{#temporals.format(todo.endTime, 'yy.MM.dd HH:mm')}"></td>
            <td th:if="${todo.check}" th:text="*{#temporals.format(todo.createdTime, 'yy.MM.dd HH:mm')}"></td>
            <td th:if="${todo.check}" th:text="${todo.check}"></td>
            <td th:if="${todo.check}"><a th:href="@{|/todo/admin/${todo.id}|}">상세</a></td>
        </tr>
    </table>
</div>

</body>




<script>

    document.addEventListener("DOMContentLoaded", function() {
        // 페이지 로드 시 체크 여부에 따라 체크박스 설정
        const checkboxes = document.querySelectorAll("input[type='checkbox']");
        checkboxes.forEach(function(checkbox) {
            if (checkbox.getAttribute("checked") === "true") {
                checkbox.checked = true;
                moveTodoToAchieved(checkbox.closest("tr"));
            }
        });
    });

    const moveTodoToAchieved = (row) => {
        const achievedDiv = document.getElementById("achieved");
        const achievedTable = achievedDiv.querySelector("table");

        // achieved 클래스를 가진 tr 요소를 추가
        const newRow = achievedTable.insertRow();
        newRow.classList.add("achieved");
        newRow.innerHTML = row.innerHTML;

        row.remove();
    }


    const todoAdd = () => {
        location.href="/todo/admin/add";
    }

    const todoCheck = (todoId) => {
        $.ajax({
            // 요청방식: post, 요청주소: /comment/save, 요청데이터: 작성자, 작성내용, 게시글번호
            type: "post",
            url: "/todo/checkChange",
            data: {
                "todoId": todoId,
                "role": "admin"
            },
            success: function (res) {
                console.log("요청성공", res);
                location.reload();
            },
            error: function (err) {
                console.log("요청실패", err);
            }
        });
    }

</script>

</html>