<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>게시글 목록</title>
</head>
<body>
<table>
    <tr>
        <th>id</th>
        <th>title</th>
        <th>title(||쓰지 않은 경우)</th>
        <th>writer</th>
        <th>date</th>
        <th>hits</th>
    </tr>
{{#boardList}}
    <tr>
        <td>{{id}}</td>
        <td><a href="/board/{{id}}">{{boardTitle}}</a></td>
        <td><a href="/board/{{id}}">{{boardTitle}}</a></td>
        <td>{{boardWriter}}</td>
        <td>{{boardCreatedTime}}</td>
        <td>{{boardHits}}</td>
    </tr>
{{/boardList}}
    </table>
    </body>
    </html>
