<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/menuStyles.css">
    <link rel="stylesheet" type="text/css" href="/boardSave.css">
    <link rel="stylesheet" type="text/css" href="/baseFrame.css">
    <title>save</title>
</head>


<div th:replace="header :: header"></div>
<body>

<div class="container">
    <h1 class="head-text">글 작성</h1>
    <div class="item">
        <form action="/board/save" method="post" enctype="multipart/form-data">
            <input type="hidden" name="boardWriter" th:value="${userId}">
            <span th:if="${not #strings.startsWith(userId, 'admin')}">
                <input type="hidden" name="type" value="normal" checked>
            </span>
            <table>
                <tr th:if="${#strings.startsWith(userId, 'admin')}">
                    <td>
                        <input type="radio" name="type" value="notice">공지
                        <input type="radio" name="type" value="normal" checked> 일반
                    </td>
                </tr>
                <tr>
                    <td class="input-td">
                        <input type="text" name="boardTitle" placeholder="제목">
                    </td>
                </tr>
                <tr>
                    <td class="input-td">
                        <textarea name="boardContents" cols="30" rows="10" placeholder="내용" class="full-textarea"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="file" name="boardFile" value="파일">
                    </td>
                </tr>
                <tr>
                    <td class="submit-td">
                        <input type="submit" value="작성" class="submit-button">
                    </td>
                </tr>
            </table>


        </form>
    </div>
</div>
</body>
</html>