<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/menuStyles.css">
    <title>detail</title>
    <!-- jquery cdn -->
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
</head>
<body>

<form action="/qna/checkSecret" method="post" name="qnaCheck">
    <input type="text" id="qnaId" name="qnaId" th:value="${qnaId}" hidden>
    계정 비밀번호 : <input type="password" name="password" id="qnaPassword">
    <input type="submit" value="비밀번호 확인">
</form>

</body>
</html>