<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/menuStyles.css">
    <title>detail</title>
    <!-- jquery cdn -->
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
</head>
<body>






<h1 id="logo"><a id="home_like" href="/">동아리 관리 시스템</a></h1>
<nav id="main-nav">
    <div id="menu-items">
        <button onclick="boardPagingReq()" id="boardPagingBtn">자유게시판</button>
        <button onclick="rentReq()" id="rentBtn">대여 시스템</button>
        <!--        <button onclick="todoReq()" id="todoBtn">일정 관리</button>-->
        <button onclick="scoreReq()" id="scoreBtn">동아리 평가</button>
        <button onclick="clubReq()" id="clubBtn">동아리 목록</button>
        <button onclick="clubMemberBtn()" id="clubMemberBtn">부원 관리</button>
        <button onclick="clubFeeBtn()" id="clubFeeBtn">회비 내역</button>
        <button onclick="anqReq()" id="qnaBtn">Q&A</button>
    </div>
</nav>

<div id="qnaCheck">
    <input type="text" id="qnaId" name="qnaId" th:value="${qnaId}" hidden>
    계정 비밀번호 : <input type="password" name="password" id="qnaPassword">
    <button id="checkSecret-btn" onclick="checkSecret()">비밀번호 확인</button>
</div>

<!--<table>-->
<!--    <tr>-->
<!--        <th>id</th>-->
<!--        <td th:text="${qnaDTO.id}"></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--        <th>title</th>-->
<!--        <td th:text="${qnaDTO.boardTitle}"></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--        <th>writer</th>-->
<!--        <td th:text="${qnaDTO.boardWriter}"></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--        <th>date</th>-->
<!--        <td th:text="${qnaDTO.createdTime}"></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--        <th>contents</th>-->
<!--        <td th:text="${qnaDTO.boardContents}"></td>-->
<!--    </tr>-->
<!--</table>-->



</body>
<script th:inline="javascript">

    const checkSecret = () => {
        const qnaId = [[${qnaId}]];
        const password = document.getElementById("qnaPassword").value;
        console.log("작성자: ", qnaId);
        console.log("내용: ", password);

        $.ajax({
            // 요청방식: post, 요청주소: /comment/save, 요청데이터: 작성자, 작성내용, 게시글번호
            type: "post",
            url: "/qna/checkSecret",
            data: {
                "password": password,
                "qnaId": qnaId
            },
            success: function (res) {
                console.log("요청성공", res);
                let output = "<table>";
                output += "<tr><th>제목</th>";
                output += "<th>"+res.boardTitle+"</th></tr>";
                output += "<tr><th>작성자</th>";
                output += "<th>"+res.boardWriter+"</th></tr>";
                output += "<tr><th>작성일</th>";
                output += "<th>"+res.createdTime+"</th></tr>";
                output += "<tr><th>내용</th>";
                output += "<th>"+res.boardContents+"</th></tr>";
                output += "</table>";
                document.getElementById('qnaCheck').innerHTML = output;
            },
            error: function (err) {
                console.log("요청실패", err);
            }
        });

    }


    const clubFeeBtn = () => {
        location.href="/clubFee/";
    }

    const boardPagingReq = () => {
        location.href="/board/paging";
    }

    const anqReq = () => {
        location.href="/qna/";
    }


    const rentReq = () => {
        location.href="/rental/"
    }

    const clubReq = () => {
        location.href="/club/"
    }

    const todoReq = () => {
        if (id.startsWith('admin')) {
            location.href="/todo/admin";
        } else {
            location.href="/todo/user";
        }
    }

    const clubMemberBtn = () => {
        location.href="/clubMember/"
    }


    const scoreReq = () => {
        location.href="/score/";
    }

</script>
</html>