<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>update</title>
</head>

<th:block th:fragment="clubFeeUpdate(clubFeeDTO)">
<body>

<form action="/clubFee/update" method="post" name="updateForm">
    <input type="text" name="id" th:value="${clubFeeDTO.id}" hidden>
    <input type="text" name="clubId" th:value="${clubFeeDTO.clubId}" hidden>
    <table>
        <tr>
            <td>유형</td>
            <td>
                <input type="radio" name="type" value="회비" checked> 회비
                <input type="radio" name="type" value="입금"> 입금
                <input type="radio" name="type" value="출금"> 출금
            </td>
        </tr>
        <tr>
            <td>대상자</td>
            <td><input type="text" name="userName" th:value="${clubFeeDTO.userName}"></td>
        </tr>
        <tr>
            <td>금액</td>
            <td><input type="number" name="amount" th:value="${clubFeeDTO.amount}"></td>
        </tr>
        <tr>
            <td>일자</td>
            <td><input type="datetime-local" name="date" th:value="${clubFeeDTO.date}"></td>
        </tr>
        <tr>
            <td>목적</td>
            <td><input type="text" name="purpose" th:value="${clubFeeDTO.purpose}"></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="수정하기"></td>
        </tr>
    </table>
</form>

</body>
</th:block>
</html>