<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>save</title>
</head>


<th:block th:fragment="clubAdd">
<body>
<form action="/club/add" method="post" enctype="multipart/form-data">
    <table class="add-table">
        <tr>
            <td>분과</td>
            <td><input type="text" name="category"></td>
        </tr>
        <tr>
            <td>동아리명</td>
            <td><input type="text" name="clubName"></td>
        </tr>
        <tr>
            <td>동아리 호실</td>
            <td><input type="text" name="clubRoom"></td>
        </tr>
        <tr>
            <td>호실 비밀번호</td>
            <td><input type="text" name="roomPassword"></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="동아리 추가"></td>
        </tr>
    </table>
</form>
</body>
</th:block>

</html>