<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <link rel="stylesheet" type="text/css" href="/clubFeeStyles.css">
  <link rel="stylesheet" type="text/css" href="/menuStyles.css">
  <title>list</title>
</head>
<body>

<div th:replace="header :: header"></div>




<div class="clubFee-container">
  <a class="seeButton" data-toggle="modal" href="#feeAddModal">회비 이력 추가</a>
  <div class="modal fade" id="feeAddModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">×</button>
          <h1 class="modal-title">회비 이력 추가</h1>
        </div>
        <div class="modal-body">
          <th:block th:replace="clubFeeAdd::feeAdd(${clubId})"></th:block>
        </div>
      </div>
    </div>
  </div>



  <div class="clubFee-item">
    <h1 class="head-text">회비 변동 이력</h1>
    <table th:if="${clubFeeList != null}">
      <tr>
        <th>유형</th>
        <th>이름</th>
        <th>금액</th>
        <th>목적</th>
        <th>등록 일자</th>
        <th>잔액</th>
        <th colspan="2">관리</th>
      </tr>
      <tr th:each="clubFee: ${clubFeeList}">
        <td th:text="${clubFee.type}"></td>
        <td th:text="${clubFee.userName}"></td>
        <td th:text="${clubFee.amount}"></td>
        <td th:text="${clubFee.purpose}"></td>
        <td th:text="*{#temporals.format(clubFee.date, 'yyyy-MM-dd  HH:mm')}"></td>
        <td th:text="${clubFee.balance}+'원'"></td>
        <td><a th:href="@{|/clubFee/update/${clubFee.id}|}">수정</a></td>
        <td><a th:href="@{|/clubFee/delete/${clubFee.id}|}">삭제</a></td>
      </tr>
    </table>
  </div>
  <div class="clubFee-item">
    <h1 class="head-text">회비 납부자 명단</h1>
    <table th:if="${feeUserList != null}">
      <tr>
        <th>이름</th>
        <th>금액</th>
        <th>일자</th>
        <th colspan="2">관리</th>
      </tr>
      <tr th:each="clubFee: ${feeUserList}">
        <td th:text="${clubFee.userName}"></td>
        <td th:text="${clubFee.amount}+'원'"></td>
        <td th:text="*{#temporals.format(clubFee.date, 'yyyy-MM-dd  HH:mm')}"></td>
        <td><a th:href="@{|/clubFee/update/${clubFee.id}|}">수정</a></td>
        <td><a th:href="@{|/clubFee/delete/${clubFee.id}|}">삭제</a></td>
      </tr>
    </table>
  </div>
</div>

</body>

<script th:inline="javascript">

  const clubId = [[${clubId}]];
  const feeAddReq = () => {
    location.href="/clubFee/add/"+clubId;
  }



</script>
</html>