<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<th:block th:fragment="memberManage(userDTO)">
    <body>
    <table>
        <tr>
            <td>이름</td>
            <td>
                <h4 th:text="${userDTO.realName}"></h4>
            </td>
        </tr>
        <tr>
            <td>전화번호</td>
            <td>
                <h4 th:text="${userDTO.phoneNumber}"></h4>
            </td>
        </tr>
        <tr>
            <td>기존 역할</td>
            <td>
                <h4 th:text="${userDTO.position}"></h4>
            </td>
        </tr>
    </table>

    <form action="/clubMember/manage/update" method="post" enctype="multipart/form-data">
        <input type="hidden" name="userId" th:value="${userDTO.id}">
        <table>
            <tr>
                <td>역할</td>
                <td>
                    <select id="position" name="position">
                        <option value="임원">임원</option>
                        <option value="부원">부원</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>세부 직책 변경</td>
                <td><input type="text" name="detailPosition" th:value="${userDTO.detailPosition}"></td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="직책 변경">
                </td>
            </tr>
        </table>
    </form>
    </body>
</th:block>

</html>