<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <link rel="stylesheet" type="text/css" href="/menuStyles.css">
  <title>list</title>
</head>
<body>

<h1 id="logo"><a id="home_like" href="/">동아리 관리 시스템</a></h1>
<nav id="main-nav">
  <div id="menu-items">
    <button onclick="boardPagingReq()" id="boardPagingBtn">자유게시판</button>
    <button onclick="rentReq()" id="rentBtn">대여 시스템</button>
    <button onclick="todoReq()" id="todoBtn">일정 관리</button>
    <button onclick="scoreReq()" id="scoreBtn">동아리 평가</button>
    <button onclick="clubReq()" id="clubBtn">동아리 현황</button>
    <button th:if="${id != 'anonymousUser'}" onclick="favoriteReq()" id="favoriteBtn">즐겨찾기 조회</button>
  </div>
</nav>


<h1>동아리 부원 목록</h1>
<table>
  <tr>
    <th>역할</th>
    <th>성명</th>
    <th>전화번호</th>
  </tr>
  <tr th:each="clubUser: ${clubUserList}">
    <td th:text="${clubUser.position}"></td>
    <td th:text="${clubUser.username}"></td>
    <td th:text="${clubUser.realName}"></td>
    <td th:text="${clubUser.phoneNumber}"></td>
    <td th:if="${clubUser.id != userId}">
      <span th:if="${chairMan != null and chairMan.id == userId}">
        <a th:href="@{|/clubMember/manage/${clubUser.id}|}">관리</a>
        <a th:href="@{|/clubMember/delete/${clubUser.id}|}">삭제</a>
      </span>
    </td>
  </tr>
</table>

<hr>
<h1>동아리 가입 요청</h1>
<table>
  <tr>
    <th>역할</th>
    <th>성명</th>
    <th>전화번호</th>
  </tr>
  <tr th:each="tempUser: ${tempUserList}">
    <td th:text="${tempUser.position}"></td>
    <td th:text="${tempUser.username}"></td>
    <td th:text="${tempUser.realName}"></td>
    <td th:text="${tempUser.phoneNumber}"></td>
    <td><a th:href="@{|/tempUser/agree/${tempUser.id}|}">승인</a></td>
    <td><a th:href="@{|/tempUser/disagree/${tempUser.id}|}">거절</a></td>
  </tr>
</table>


</body>

<script>

  const clubAddReq = () => {
    location.href="/club/add";
  }

  const scoreAddReq = () => {
    location.href="/todo/admin/add";
  }

  const plusScoreAddReq = () => {
    location.href="/score/plusScoreAdd";
  }

  const boardPagingReq = () => {
    location.href="/board/paging";
  }

  const favoriteReq = () => {
    location.href="/favorite/list"
  }

  const rentReq = () => {
    location.href="/rental/"
  }

  const clubReq = () => {
    location.href="/club/"
  }

  const todoReq = () => {
    // if (id.startsWith('admin')) {
    //     location.href="/todo/admin";
    // } else {
    //     location.href="/todo/user";
    // }
    location.href="/todo/user";
  }


  const scoreReq = () => {
    location.href="/score/";
  }

</script>
</html>