<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <link rel="stylesheet" type="text/css" href="/menuStyles.css">
  <title>list</title>
</head>
<body>

<h1 id="logo"><a id="home_like" href="/">동아리 관리 시스템</a></h1>
<nav id="main-nav">
  <div id="menu-items">
    <button onclick="boardPagingReq()" id="boardPagingBtn">자유게시판</button>
    <button onclick="rentReq()" id="rentBtn">대여 시스템</button>
    <button onclick="todoReq()" id="todoBtn">일정 관리</button>
    <button onclick="scoreReq()" id="scoreBtn">동아리 평가</button>
    <button onclick="clubReq()" id="clubBtn">동아리 현황</button>
    <button th:if="${id != 'anonymousUser'}" onclick="favoriteReq()" id="favoriteBtn">즐겨찾기 조회</button>
  </div>
</nav>



<button onclick="feeAddReq()">회비 이력 추가</button>


<hr>
<table th:if="${clubFeeList != null}">
  <tr>
    <th>유형</th>
    <th>이름</th>
    <th>금액</th>
    <th>목적</th>
    <th>일자</th>
  </tr>
  <tr th:each="clubFee: ${clubFeeList}">
    <td th:text="${clubFee.type}"></td>
    <td th:text="${clubFee.userName}"></td>
    <td th:text="${clubFee.amount}"></td>
    <td th:text="${clubFee.purpose}"></td>
    <td th:text="${clubFee.date}"></td>
    <td><a th:href="@{|/club/update/${club.id}|}">수정</a></td>
    <td><a th:href="@{|/club/delete/${club.id}|}">삭제</a></td>
  </tr>
</table>


</body>

<script th:inline="javascript">

  const clubId = [[${clubId}]];
  const feeAddReq = () => {
    location.href="/clubFee/add/"+clubId;
  }

  const scoreAddReq = () => {
    location.href="/todo/admin/add";
  }

  const plusScoreAddReq = () => {
    location.href="/score/plusScoreAdd";
  }

  const boardPagingReq = () => {
    location.href="/board/paging";
  }

  const favoriteReq = () => {
    location.href="/favorite/list"
  }

  const rentReq = () => {
    location.href="/rental/"
  }

  const clubReq = () => {
    location.href="/club/"
  }

  const todoReq = () => {
    // if (id.startsWith('admin')) {
    //     location.href="/todo/admin";
    // } else {
    //     location.href="/todo/user";
    // }
    location.href="/todo/user";
  }


  const scoreReq = () => {
    location.href="/score/";
  }

</script>
</html>