<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>save</title>
</head>

<th:block th:fragment="feeAdd(clubId)">
    <body>
    <form action="/clubFee/add" method="post" enctype="multipart/form-data">
        <input type="text" name="clubId" th:value="${clubId}" hidden/><br>

        <table class="add-table">
            <tr>
                <td>유형</td>
                <td><input type="radio" name="type" value="회비" checked> 회비
                    <input type="radio" name="type" value="입금"> 입금
                    <input type="radio" name="type" value="출금"> 출금 </td>
            </tr>
            <tr>
                <td>대상자</td>
                <td><input type="text" name="userName"></td>
            </tr>
            <tr>
                <td>금액</td>
                <td><input type="number" name="amount"></td>
            </tr>
            <tr>
                <td>일자</td>
                <td><input type="datetime-local" name="date"></td>
            </tr>
            <tr>
                <td>목적</td>
                <td><input type="text" name="purpose"></td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="추가하기">
                </td>
            </tr>
        </table>
    </form>
    </body>
</th:block>
</html>