<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="topHeader :: headerFragment"></th:block>
<body>

<div th:fragment="header" class="top-header">
    <h1 id="logo"><a id="home_like" href="/">동아리 관리 시스템</a></h1>
    <nav id="main-nav">
        <div id="menu-items">
            <a href="/board/paging" class="nav-item">자유게시판</a>
            <a href="/rental/" class="nav-item">대여 시스템</a>
            <a href="/todo/divide" class="nav-item">일정 관리</a>
            <a href="/score/" class="nav-item">동아리 평가</a>
            <a href="/club/" class="nav-item">동아리 목록</a>
            <a href="/clubMember/" class="nav-item">부원 관리</a>
            <a href="/clubFee/" class="nav-item">회비 내역</a>
            <a href="/qna/paging" class="nav-item">Q&A</a>

            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    동아리 관리
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="/score/">동아리 평가</a>
                    <a class="dropdown-item" href="/club/">동아리 목록</a>
                    <a class="dropdown-item" href="/clubMember/">부원 관리</a>
                    <a class="dropdown-item" href="/clubFee/">회비 내역</a>
                </div>
            </div>

        </div>
    </nav>

</div>

</body>
</html>
