<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/join.css">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="join-container">
    <h1>명지대학교 동아리 관리 시스템</h1>
    <h2>[ 동아리 회장 가입 ]</h2>
    <hr>
    <form action="/joinProc" method="post" name="joinForm">
        <table>
            <tr>
                <td>동아리 선택</td>
                <td>
                    <select name="clubId">
                        <option th:each="club : ${clubList}" th:value="${club.id}" th:text="${club.clubName}"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>학번(아이디)</td>
                <td><input type="text" name="username" placeholder="학번"/></td>
            </tr>
            <tr>
                <td>비밀번호</td>
                <td><input type="password" name="password" placeholder="Password"/></td>
            </tr>
            <tr>
                <td>성명</td>
                <td><input type="text" name="realName" placeholder="이름"/></td>
            </tr>
            <tr>
                <td>전화번호</td>
                <td>
                    <input type="number" name="phoneNumber1"/>-
                    <input type="number" name="phoneNumber2"/>-
                    <input type="number" name="phoneNumber3"/>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="가입"/>
                </td>
            </tr>
        </table>
        <input type="text" name="position" value="임원" hidden/>
        <input type="text" name="detailPosition" value="회장" hidden/>
    </form>
</div>
</body>
</html>
