<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/login.css">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<div class="login-container">
    <div class="login-item">
        <h2>명지대학교 동아리 관리 시스템</h2>
    </div>
    <div class="login-item">
        <form action="/loginProc" method="post" name="loginForm">
            <input id="username" type="text" name="username" placeholder="학번"/>
            <input id="password" type="password" name="password" placeholder="비밀번호"/>
            <input type="submit" value="로그인">
        </form>
    </div>
    <div class="login-item">
        <button onclick="join()" id="joinBtn">회원가입</button>
    </div>
</div>
</body>
<script>
    const join = () => {
        location.href="/tempJoin";
    }

</script>

</html>

