<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <link rel="stylesheet" type="text/css" href="/menuStyles.css">
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <title>메인화면</title>
</head>
<body>

<div th:replace="header_anonymous :: header"></div>

<div id="main-container">
    <div id="left-container">
        <div class="login-box">
            <h2>로그인 정보</h2>
            <div id="login-items">
                <button onclick="login()" id="loginBtn">로그인</button>
                <button onclick="join()" id="joinBtn">회원가입</button>
            </div>
        </div>

        <div class="favorite-heart-box">
            <h3 class="header"><span id="favoriteHeader" class="header-link">즐겨찾기</span><span class="slash"> / </span><span id="heartHeader" class="header-link">좋아요</span></h3>
            <div class="content" id="favoriteContent">
                <a href="/login" ><h3 class="login-need">로그인이 필요합니다.</h3></a>
            </div>
        </div>
    </div>


    <div id="right-container">

        <div id="notice-container">
            <div class="admin-box">
                <span th:if="${noticeList == null}" class="empty-text">등록된 공지가 없습니다.</span>
                <table th:if="${noticeList != null}" class="todo-table" id="notice-table">
                    <tr th:each="notice: ${noticeList}">
                        <td>
                            <span>
                                <img src="/speaker.png" alt="notice" id="speaker">
                            </span>
                        </td>
                        <td><a th:href="@{|/board/${notice.id}|}"
                               th:text="${notice.boardTitle}"></a></td>
                        <td th:text="*{#temporals.format(notice.boardCreatedTime, 'yy.MM.dd')}"></td>
                    </tr>
                </table>
            </div>
        </div>

        <div id="right-top-container">
            <div class="admin-box">
                <h3 class="header"><span id="receivedHeader" class="header-link">동연회 요청</span><span class="slash"> / </span><span id="adminHeader" class="header-link">동연회 임원</span></h3>
                <div class="content" id="adminContent">
                    <a href="/login" ><h3 class="login-need">로그인이 필요합니다.</h3></a>
                </div>
            </div>
        </div>

        <div id="right-middle-container">
            <div class="my-box">
                <h3 class="header"><span id="myQNAHeader" class="header-link">나의 Q&A</span><span class="slash"> / </span><span id="myPlanHeader" class="header-link">나의 일정</span><span class="slash"> / </span><span id="myRentalHeader" class="header-link">대여품목</span></h3>
                <div class="content" id="myPlanContent">
                    <a href="/login" ><h3 class="login-need">로그인이 필요합니다.</h3></a>
                </div>
            </div>
        </div>

        <div id="right-bottom-container">
            <div class="clubInfo-box">
                <h3 class="header"><span id="scoreHeader" class="header-link">동아리평가 달성도</span><span class="slash"> / </span><span id="clubFeeHeader" class="header-link">동아리 회비</span><span class="slash"> / </span><span id="clubAdminHeader" class="header-link">동아리 임원</span></h3>
                <div class="content" id="scoreContent">
                    <a href="/login" ><h3 class="login-need">로그인이 필요합니다.</h3></a>
                </div>
            </div>
        </div>

    </div>
</div>
</body>

<script th:inline="javascript">



    window.addEventListener("load", function() {
        let favoriteHeader = document.getElementById("favoriteHeader");
        let heartHeader = document.getElementById("heartHeader");

        let adminHeader = document.getElementById("adminHeader");
        let receivedHeader = document.getElementById("receivedHeader");

        let myPlanHeader = document.getElementById("myPlanHeader");
        let myQNAHeader = document.getElementById("myQNAHeader");
        let myRentalHeader = document.getElementById("myRentalHeader");

        let scoreHeader = document.getElementById("scoreHeader");
        let clubFeeHeader = document.getElementById("clubFeeHeader");
        let clubAdminHeader = document.getElementById("clubAdminHeader");

        // 초기에 즐겨찾기 내용이 보여지므로 해당 헤더를 선택된 상태로 설정
        favoriteHeader.classList.add("selected");
        heartHeader.classList.remove("selected");

        receivedHeader.classList.add("selected");
        adminHeader.classList.remove("selected");

        myQNAHeader.classList.add("selected");
        myPlanHeader.classList.remove("selected");
        myRentalHeader.classList.remove("selected");

        scoreHeader.classList.add("selected");
        clubFeeHeader.classList.remove("selected");
        clubAdminHeader.classList.remove("selected");

    });


    // 클릭 이벤트 리스너 등록
    document.getElementById("favoriteHeader").addEventListener("click", function() { toggleContent("favorite"); });
    document.getElementById("heartHeader").addEventListener("click", function() { toggleContent("heart"); });

    document.getElementById("adminHeader").addEventListener("click", function() { toggleContent("admin"); });
    document.getElementById("receivedHeader").addEventListener("click", function() { toggleContent("received"); });

    document.getElementById("myPlanHeader").addEventListener("click", function() { toggleContent("plan"); });
    document.getElementById("myQNAHeader").addEventListener("click", function() { toggleContent("qna"); });
    document.getElementById("myRentalHeader").addEventListener("click", function() { toggleContent("rental"); });

    document.getElementById("scoreHeader").addEventListener("click", function() { toggleContent("score"); });
    document.getElementById("clubFeeHeader").addEventListener("click", function() { toggleContent("clubFee"); });
    document.getElementById("clubAdminHeader").addEventListener("click", function() { toggleContent("clubAdmin"); });


    // 컨텐츠 전환 함수 정의
    function toggleContent(activeTab) {
        let favoriteHeader = document.getElementById("favoriteHeader");
        let heartHeader = document.getElementById("heartHeader");

        let adminHeader = document.getElementById("adminHeader");
        let receivedHeader = document.getElementById("receivedHeader");

        let myPlanHeader = document.getElementById("myPlanHeader");
        let myQNAHeader = document.getElementById("myQNAHeader");
        let myRentalHeader = document.getElementById("myRentalHeader");

        let scoreHeader = document.getElementById("scoreHeader");
        let clubFeeHeader = document.getElementById("clubFeeHeader");
        let clubAdminHeader = document.getElementById("clubAdminHeader");
        //////////////////////////////////////////////////////////////////////////


        // 선택된 탭에 따라 스타일 변경
        if (activeTab === "favorite") {
            favoriteHeader.classList.add("selected");
            heartHeader.classList.remove("selected");
        } else if (activeTab === "heart") {
            favoriteHeader.classList.remove("selected");
            heartHeader.classList.add("selected");
        }
        //////////////////////////////////////////////////////////////////////////
        if (activeTab === "received") {
            receivedHeader.classList.add("selected");
            adminHeader.classList.remove("selected");
        } else if (activeTab === "admin") {
            receivedHeader.classList.remove("selected");
            adminHeader.classList.add("selected");
        }
        //////////////////////////////////////////////////////////////////////////
        if (activeTab === "plan") {
            myPlanHeader.classList.add("selected");
            myQNAHeader.classList.remove("selected");
            myRentalHeader.classList.remove("selected");
        } else if (activeTab === "qna") {
            myPlanHeader.classList.remove("selected");
            myQNAHeader.classList.add("selected");
            myRentalHeader.classList.remove("selected");
        } else if (activeTab === "rental") {
            myPlanHeader.classList.remove("selected");
            myQNAHeader.classList.remove("selected");
            myRentalHeader.classList.add("selected");
        }
        //////////////////////////////////////////////////////////////////////////
        if (activeTab === "score") {
            scoreHeader.classList.add("selected");
            clubFeeHeader.classList.remove("selected");
            clubAdminHeader.classList.remove("selected");
        } else if (activeTab === "clubFee") {
            scoreHeader.classList.remove("selected");
            clubFeeHeader.classList.add("selected");
            clubAdminHeader.classList.remove("selected");
        } else if (activeTab === "clubAdmin") {
            scoreHeader.classList.remove("selected");
            clubFeeHeader.classList.remove("selected");
            clubAdminHeader.classList.add("selected");
        }

    }



    const id = [[${id}]];

    const join = () => {
        location.href="/tempJoin";
    }

    const login = () => {
        location.href="/login";
    }



</script>
</html>
