<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <link rel="stylesheet" type="text/css" href="/menuStyles.css">
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <title>메인화면</title>
</head>
<body>
<div id="login-items">
    <button onclick="join()" id="joinBtn">회원가입</button>
    <button onclick="login()" id="loginBtn">로그인</button>
<!--    <form action="/logout" method="get">-->
<!--        <input type="submit" id="logout" value="로그아웃">-->
<!--    </form>-->
</div>
<h1 id="logo">동아리 관리 시스템</h1>
<nav id="main-nav">
    <div id="menu-items">
        <button onclick="boardPagingReq()" id="boardPagingBtn">자유게시판</button>
        <button onclick="rentReq()" id="rentBtn">대여 시스템</button>
        <button onclick="todoReq()" id="todoBtn">일정 관리</button>
        <button onclick="scoreReq()" id="scoreBtn">동아리 평가</button>
        <button onclick="clubReq()" id="clubBtn">동아리 현황</button>
        <button onclick="clubMemberBtn()" id="clubMemberBtn">부원 관리</button>
        <button th:if="${id != 'anonymousUser'}" onclick="favoriteReq()" id="favoriteBtn">즐겨찾기 조회</button>
    </div>
</nav>

<!-------------------------------------------------------------------------------------------------------------------->
<div id="main-container" th:if="${not #strings.equals(id, 'anonymousUser')}">
    <div id="left-container">
        <div class="login-box">
            <div id="login-info">
                <div id="img-box">
                    <img src="/default.png" alt="My Image" id="my-photo">
                </div>

                <div class="my-info">
                    <span>동아리 : </span><span th:text="${clubDTO.clubName}"></span><br>
                    <span th:text="${id}+'님'"></span><br>
                    <span th:text="${clubDTO.clubRoom}+'호'"></span>
                </div>
                <div class="my-info">
                    <form action="/logout" method="get">
                        <input type="submit" id="logout" value="로그아웃">
                    </form>
                </div>

            </div>
        </div>

        <div class="favorite-box">
            <div class="favorite-item">
                <h2>즐기찾기</h2>
                <table>
                    <tr>
                        <th>가</th>
                        <th>나</th>
                        <th>다</th>
                        <th>라</th>
                    </tr>
                    <tr>
                        <td>o</td>
                        <td>o</td>
                        <td>o</td>
                        <td>o</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div id="right-container">

        <div id="todo-container">

            <div class="todo-box">
                <div id="receive-todo-list">
                    <div id="receive-todo-items" th:if="${not #strings.equals(id, 'anonymousUser')}">
                        <h2>동연회 요청</h2>
                        <table th:if="${receiveTodoList != null}" class="todo-table">
                            <tr>
                                <th>제목</th>
                                <th>마감일</th>
                                <th>남은 일수</th>
                            </tr>
                            <tr th:each="todo: ${receiveTodoList}">
                                <td><a th:href="@{|/todo/receivedTodo/${clubId}/${todo.id}|}"
                                       th:text="${todo.title}"></a>
                                </td>
                                <td th:text="*{#temporals.format(todo.endTime, 'yy.MM.dd   HH:mm')}"></td>
                                <td th:text="*{#temporals.format(todo.endTime, 'yy.MM.dd   HH:mm')}"></td>
                            </tr>
                        </table>
                    </div>

                </div>
            </div>

            <div class="todo-box">
                <div id="my-todo-list">
                    <div id="my-todo-items" th:if="${not #strings.equals(id, 'anonymousUser')}">
                        <h2>나의 일정 목록</h2>
                        <table th:if="${myTodoList != null}" class="todo-table">
                            <tr>
                                <th>제목</th>
                                <th>시작일</th>
                                <th>종료일</th>
                            </tr>
                            <tr th:each="todo: ${myTodoList}">
                                <td><a th:href="@{|/todo/myTodoList/${clubId}/${todo.id}|}" th:text="${todo.title}"></a>
                                </td>
                                <td th:text="*{#temporals.format(todo.startTime, 'yy.MM.dd   HH:mm')}"></td>
                                <td th:text="*{#temporals.format(todo.endTime, 'yy.MM.dd   HH:mm')}"></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>


        <div id="extraInfo-container">
            <div class="achievement-box">
                <h2>지원금 기준 달성도</h2>
                <div class="round-graph chart1"><span class="center" th:text="${percentScore} + '%'"></span></div>
                <div th:text="'현재 점수 : '+${clubScore}+'점'"></div>
            </div>

            <div class="notice-box">
                <h2>공지사항</h2>
                <table>
                    <tr>
                        <th>가</th>
                        <th>나</th>
                        <th>다</th>
                        <th>라</th>
                    </tr>
                    <tr>
                        <td>o</td>
                        <td>o</td>
                        <td>o</td>
                        <td>o</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
</body>

<script th:inline="javascript">

    const id = [[${id}]];

    const join = () => {
        location.href="/join";
    }

    const login = () => {
        location.href="/login";
    }

    const boardPagingReq = () => {
        location.href="/board/paging";
    }

    const favoriteReq = () => {
        location.href="/favorite/list"
    }

    const rentReq = () => {
        location.href="/rental/"
    }

    const clubReq = () => {
        location.href="/club/"
    }

    const todoReq = () => {
        if (id.startsWith('admin')) {
            location.href="/todo/admin";
        } else {
            location.href="/todo/user";
        }
    }

    const clubMemberBtn = () => {
        location.href="/clubMember/"
    }


    const scoreReq = () => {
        location.href="/score/";
    }

    const chart1 = document.querySelector('.chart1');
    const clubScore = [[${clubScore}]];

    const makeChart = (percent,classname,color) => {
        let i=1;
        let chartFn = setInterval(function () {
            if (i <= percent) {
                colorFn(i,classname,color);
                i++;
            } else {
                clearInterval(chartFn);
            }
        },10);
    }

    const colorFn = (i, classname, color) => {
        classname.style.background = "conic-gradient(" + color + " 0% " + i + "%, transparent " + i + "% 10%, #dedede 50% 100%)";
    }

    makeChart(clubScore, chart1, '#374864');

</script>
</html>
