<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Main Page</title>
</head>
<body>
main page
<hr>
{{id}}
{{role}}
<hr>
<form action="/logut"  method="post">
    <input type="submit" value="logout">
</form>

<button onclick="boardSaveReq()"> 글 작성</button>
<button onclick="boardListReq()"> 글 목록</button>

</body>

<script>
    const boardSaveReq = () => {
        location.href="/board/save";
    }
    const boardListReq = () => {
        location.href="/board/list";
    }
</script>
</html>