<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/menuStyles.css">
    <title>detail</title>
    <!-- jquery cdn -->
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
</head>
<body>


<div th:replace="header :: header"></div>

<table>
    <tr>
        <th>id</th>
        <td th:text="${qnaDTO.id}"></td>
    </tr>
    <tr>
        <th>title</th>
        <td th:text="${qnaDTO.boardTitle}"></td>
    </tr>
    <tr>
        <th>writer</th>
        <td th:text="${qnaDTO.boardWriter}"></td>
    </tr>
    <tr>
        <th>date</th>
        <td th:text="${qnaDTO.createdTime}"></td>
    </tr>
    <tr>
        <th>contents</th>
        <td th:text="${qnaDTO.boardContents}"></td>
    </tr>
</table>

<!--<button th:if="${board.boardWriter eq userId}" onclick="updateReq()">수정</button>-->
<!--<button th:if="${board.boardWriter eq userId}" onclick="deleteReq()">삭제</button>-->

<div id="comment-write">
    <input type="text" id="commentWriter" placeholder="작성자" th:value="${userId}" readonly>
    <input type="text" id="commentContents" placeholder="내용">
    <button id="comment-write-btn" onclick="commentWrite()">댓글작성</button>
</div>

<!-- 댓글 출력 부분 -->
<div id="comment-list">
    <table>
        <tr>
            <th>댓글번호</th>
            <th>작성자</th>
            <th>내용</th>
            <th>작성시간</th>
        </tr>
        <tr th:each="qnaAnswer: ${qnaAnswerDTOList}">
            <td th:text="${qnaAnswer.id}"></td>
            <td th:text="${qnaAnswer.answerWriter}"></td>
            <td th:text="${qnaAnswer.answerContents}"></td>
            <td th:text="${qnaAnswer.createdTime}"></td>
        </tr>
    </table>
</div>

</body>
<script th:inline="javascript">

    const commentWrite = () => {
        const writer = document.getElementById("commentWriter").value;
        const contents = document.getElementById("commentContents").value;
        console.log("작성자: ", writer);
        console.log("내용: ", contents);
        const qnaId = [[${qnaDTO.id}]];

        $.ajax({
            // 요청방식: post, 요청주소: /comment/save, 요청데이터: 작성자, 작성내용, 게시글번호
            type: "post",
            url: "/qnaAnswer/save",
            data: {
                "qnaId" : qnaId,
                "answerWriter": writer,
                "answerContents": contents
            },
            success: function (res) {
                console.log("요청성공", res);
                let output = "<table>";
                output += "<tr><th>댓글번호</th>";
                output += "<th>작성자</th>";
                output += "<th>내용</th>";
                output += "<th>작성시간</th></tr>";
                for (let i in res) {
                    output += "<tr>";
                    output += "<td>" + res[i].id + "</td>";
                    output += "<td>" + res[i].answerWriter + "</td>";
                    output += "<td>" + res[i].answerContents + "</td>";
                    output += "<td>" + res[i].createdTime + "</td>";
                    output += "</tr>";
                }
                output += "</table>";
                document.getElementById('comment-list').innerHTML = output;
                document.getElementById('commentContents').value = '';
            },
            error: function (err) {
                console.log("요청실패", err);
            }
        });

    }


</script>
</html>