<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>update</title>
</head>

<th:block th:fragment="qnaUpdate(qnaAnswer,qnaId)">
<body>
<form action="/qnaAnswer/update" method="post" name="updateForm">
    <input type="hidden" name="id" th:value="${qnaAnswer.id}">
    <input type="hidden" name="qnaId" th:value="${qnaId}">
    <table>
        <tr>
            <td>작성자</td>
            <td><input type="text" name="answerWriter" th:value="${qnaAnswer.answerWriter}" readonly></td>
        </tr>
        <tr>
            <td>내용</td>
            <td><textarea name="answerContents" cols="30" rows="10" th:text="${qnaAnswer.answerContents}"></textarea></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="수정하기">
            </td>
        </tr>
    </table>
</form>
</body>
</th:block>


</html>