<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="/qnaStyles.css">
    <link rel="stylesheet" type="text/css" href="/menuStyles.css">
    <title>detail</title>
    <!-- jquery cdn -->
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
</head>
<body>


<div th:replace="header :: header"></div>

<div class="qna-container">
    <div class="qna-item">
        <div class="qna-view">
            <h1 class="title" th:text="${qnaDTO.boardTitle}"></h1>
            <div class="qna-writer">
                <span class="name" th:text="${qnaDTO.boardWriter}"></span>
                <span class="date" th:text="*{#temporals.format(qnaDTO.createdTime, 'YYYY-MM-dd')}"></span>
            </div>
            <div class="qna-content">
                <h3 th:text="${qnaDTO.boardContents}"></h3>
            </div>
        </div>
    </div>

    <div class="qna-item">
        <div id="comment-write">
            <table class="comment-table">
                <tr>
                    <td>작성자</td>
                    <td><input type="text" id="commentWriter" placeholder="작성자" th:value="${userId}" readonly></td>
                </tr>
                <tr>
                    <td>내용</td>
                    <td class="textarea-part"><textarea id="commentContents" placeholder="내용"></textarea></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button id="comment-write-btn" onclick="commentWrite()">댓글작성</button>
                    </td>
                </tr>
            </table>
        </div>
        <!-- 댓글 출력 부분 -->
        <div id="comment-list">
            <ul th:if="${qnaAnswerDTOList != null}" class="not-dot">
                <li th:each="qnaAnswer: ${qnaAnswerDTOList}" class="qnaAnswer-item">
                    <div class="comment-writer">
                        <span class="writer" th:text="'작성일 : '+*{#temporals.format(qnaAnswer.createdTime, 'YYYY-MM-dd hh:mm')}"></span>
                        <a data-toggle="modal" href="#qnaUpdateModal" class="seeButton">수정</a>
                        <div class="modal fade" id="qnaUpdateModal" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">×</button>
                                        <h1 class="modal-title">Q&A 수정</h1>
                                    </div>
                                    <div class="modal-body">
                                        <th:block
                                                th:replace="qnaAnswerUpdate::qnaUpdate(${qnaAnswer},${qnaDTO.id})"></th:block>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a th:href="@{|/qna/delete/${qnaDTO.id}/${qnaAnswer.id}|}" class="seeButton">삭제</a>
                    </div>
                    <div class="comment-text">
                        <h3 class="answer-text" th:text="${qnaAnswer.answerContents}"></h3>
                    </div>
                </li>
            </ul>
        </div>


    </div>
</div>

</body>
<script th:inline="javascript">

    const commentWrite = () => {
        const writer = document.getElementById("commentWriter").value;
        const contents = document.getElementById("commentContents").value;
        console.log("작성자: ", writer);
        console.log("내용: ", contents);
        const qnaId = [[${qnaDTO.id}]];

        $.ajax({
            // 요청방식: post, 요청주소: /comment/save, 요청데이터: 작성자, 작성내용, 게시글번호
            type: "post",
            url: "/qnaAnswer/save",
            data: {
                "qnaId" : qnaId,
                "answerWriter": writer,
                "answerContents": contents
            },
            success: function (res) {
                console.log("요청성공", res);
                location.reload();

            },
            error: function (err) {
                console.log("요청실패", err);
            }
        });

    }


</script>
</html>