<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/menuStyles.css">
    <link rel="stylesheet" type="text/css" href="/qnaStyles.css">
    <title>detail</title>
    <!-- jquery cdn -->
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
</head>
<body>

<div th:replace="header :: header"></div>


<div class="qna-container">
    <div class="qna-item">
        <div class="qna-view">
            <a class="seeButton" th:href="@{|/qna/update/${qnaDTO.id}|}" th:if="${right == 1}">수정</a>
            <a class="seeButton" th:href="@{|/qna/detele/${qnaDTO.id}|}" th:if="${right == 1}">삭제</a>
            <h1 class="title" th:text="${qnaDTO.boardTitle}"></h1>
            <div class="qna-writer">
                <span class="name" th:text="${qnaDTO.boardWriter}"></span>
                <span class="date" th:text="*{#temporals.format(qnaDTO.createdTime, 'YYYY-MM-dd')}"></span>
            </div>
            <div class="qna-content">
                <h3 th:text="${qnaDTO.boardContents}"></h3>
            </div>
        </div>
    </div>

    <div class="qna-item">
        <h2 class="title">답변</h2>
        <div id="comment-list">
            <ul th:if="${qnaAnswerList != null}" class="not-dot">
                <li th:each="qnaAnswer: ${qnaAnswerList}" class="qnaAnswer-item">
                    <div class="user">
                        <span th:text="${qnaAnswer.answerWriter}" id="userId"></span>
                        <span th:text="*{#temporals.format(qnaAnswer.createdTime, 'YYYY-MM-dd hh:mm')}"></span>
                    </div>
                    <div class="user-content">
                        <div class="user-text">
                            <h3 class="answer-text" th:text="${qnaAnswer.answerContents}"></h3>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>


</body>
</html>