<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/menuStyles.css">
    <title>detail</title>
    <!-- jquery cdn -->
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
</head>
<body>

<div th:replace="header :: header"></div>

<table>
    <tr>
        <th>id</th>
        <td th:text="${qnaDTO.id}"></td>
    </tr>
    <tr>
        <th>title</th>
        <td th:text="${qnaDTO.boardTitle}"></td>
    </tr>
    <tr>
        <th>writer</th>
        <td th:text="${qnaDTO.boardWriter}"></td>
    </tr>
    <tr>
        <th>date</th>
        <td th:text="${qnaDTO.createdTime}"></td>
    </tr>
    <tr>
        <th>contents</th>
        <td th:text="${qnaDTO.boardContents}"></td>
    </tr>
</table>

<!--&lt;!&ndash; 댓글 출력 부분 &ndash;&gt;-->
<div id="comment-list">
    <table th:if="${qnaAnswerList != null}">
        <tr>
            <th>댓글번호</th>
            <th>작성자</th>
            <th>내용</th>
            <th>작성시간</th>
        </tr>
        <tr th:each="qnaAnswer: ${qnaAnswerList}">
            <td th:text="${qnaAnswer.id}"></td>
            <td th:text="${qnaAnswer.answerWriter}"></td>
            <td th:text="${qnaAnswer.answerContents}"></td>
            <td th:text="${qnaAnswer.createdTime}"></td>
        </tr>
    </table>
</div>

</body>
</html>