<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <link rel="stylesheet" type="text/css" href="/menuStyles.css">
    <link rel="stylesheet" type="text/css" href="/receivedStyles.css">
    <title>detail</title>
    <!-- jquery cdn -->
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
</head>
<body>


<div th:replace="header :: header"></div>



<div class="received-container">
    <div class="flex-item">
        <div class="received-item">
            <div id="todo-info">
                <h2 th:text="${todo.title}" class="title"></h2>
                <div class="writer-info">
                    <span class="writer" th:text="${todo.writer}"></span>
                    <span class="writer-date" th:text="*{#temporals.format(todo.createdTime, 'yyyy-MM-dd')}"></span>
                </div>
                <div class="todo-content">
                    <h3 th:text="${todo.content}" class="todo-text"></h3>
                </div>
            </div>
        </div>

        <div th:if="${scoreDTO != null}" class="received-item">
            <div id="score-info">
                <div class="date-info">
                    <span class="date"
                          th:text="'제출기한 : ['+*{#temporals.format(todo.startTime, 'MM-dd   HH:mm')}+'] ~ '"></span>
                    <span class="date" th:text="'['+*{#temporals.format(todo.endTime, 'MM-dd   HH:mm')}+']'"></span>
                </div>
                <div class="date-info">
                    <span class="date"
                          th:text="'지각 제출 : ['+*{#temporals.format(scoreDTO.lateTime, 'MM-dd   HH:mm')}+']까지'"></span>
                </div>
                <table>
                    <thead>
                    <tr>
                        <th>정상제출</th>
                        <th>지각제출</th>
                        <th>미제출</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td th:text="${scoreDTO.normalSubmit}">점</td>
                        <td th:text="${scoreDTO.lateSubmit}">점</td>
                        <td th:text="${scoreDTO.noSubmit}">점</td>
                    </tr>
                    </tbody>
                </table>

                <table>
                    <thead>
                    <tr>
                        <th>1등</th>
                        <th>2등</th>
                        <th>3등</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td th:text="${scoreDTO.plusRank1}">점</td>
                        <td th:text="${scoreDTO.plusRank2}">점</td>
                        <td th:text="${scoreDTO.plusRank3}">점</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <div class="received-item">
        <div id="comment-write">
            <form action="/receivedTodoComment/save" method="post" enctype="multipart/form-data">
                <input type="hidden" id="clubId" name="clubId" th:value="${clubId}">
                <input type="hidden" id="todoId" name="todoId" th:value="${todo.id}">
                <table class="comment-table">
                    <tr>
                        <td>유형</td>
                        <td>
                            <input type="radio" name="resultSubmit" value="1" th:if="${isResult==0}"> <span th:if="${isResult==0}">결과물</span>
                            <input type="radio" name="resultSubmit" value="0" checked> 질문
                        </td>
                    </tr>
                    <tr>
                        <td>내용</td>
                        <td><textarea id="content" name="content" placeholder="내용"></textarea></td>
                    </tr>
                    <tr>
                        <td>파일</td>
                        <td><input type="file" id="resultFile" name="resultFile" placeholder="내용"></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input type="submit" value="제출하기">
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <div class="comment-container">
            <!-- 댓글 출력 부분 -->
            <div id="comment-list">

                <ul>
                    <li th:each="comment: ${commentList}">
                        <div class="comment-writer">
                            <span class="writer" th:text="${comment.type}"></span>
                            <span class="writer" th:text="'작성일 : '+*{#temporals.format(comment.createdTime, 'yyyy-MM-dd  HH:mm')}"></span>
                            <span class="writer" th:text="'수정일 : '+*{#temporals.format(comment.updatedTime, 'yyyy-MM-dd  HH:mm')}"></span>
                            <a th:href="@{|/receivedTodoComment/update/${clubId}/${todo.id}/${comment.id}|}" class="writer" th:if="${#strings.equals(comment.type, '결과물')}">수정</a>


                            <a class="writer" data-toggle="modal" href="#commentUpdateModal" th:if="${#strings.equals(comment.type, '결과물')}">수정</a>
                            <div class="modal fade" id="commentUpdateModal" role="dialog">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">×</button>
                                            <h1 class="modal-title">결과물 수정</h1>
                                        </div>
                                        <div class="modal-body">
                                            <th:block th:replace="updateTodoComment::commentUpdate(${todo.id},${comment.id},${clubId},${comment})"></th:block>
                                        </div>
                                    </div>
                                </div>
                            </div>



                        </div>
                        <div class="comment-text">
                            <span th:text="${comment.content}"></span>
                        </div>
                        <div th:if="${comment.fileAttached == 1}" class="file_input">
                            <a th:href="${'/fileFolder/'+comment.storedFileName}" th:text="${comment.originalFileName}" download></a>
                        </div>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</div>
</body>

<script th:inline="javascript">

</script>

</html>