<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>save</title>
</head>

<th:block th:fragment="rentalAdd">
<body>
<form action="/rental/add" method="post" enctype="multipart/form-data">
    <table class="add-table">
        <tr>
            <td>카테고리</td>
            <td><input type="text" name="type"></td>
        </tr>
        <tr>
            <td>물품명</td>
            <td><input type="text" name="name"></td>
        </tr>
        <tr>
            <td>수량</td>
            <td><input type="text" name="totalCount"></td>
        </tr>
        <tr>
            <td>위치</td>
            <td><input type="text" name="location"></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="추가하기">
            </td>
        </tr>
    </table>
</form>

</body>
</th:block>
</html>