<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <link rel="stylesheet" type="text/css" href="/rentalStyles.css">
    <link rel="stylesheet" type="text/css" href="/menuStyles.css">
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <title>list</title>
</head>
<body>


<div th:replace="header :: header"></div>


<h3>대여시스템</h3>
<button onclick="rentalAddReq()">대여물품 추가</button>
<hr>


<div id="rental-items">
    <div th:each="rental: ${rentalList}" class="rental-item">
        <div>
            <a th:href="@{|/rental/offer/${rental.id}|}"><img src="/noFile.png" alt="Rental Item Image">
            <p th:text="'물품명 : '+${rental.name}"></p>
            <p th:text="'위치 : '+${rental.location}"></p>
            <p th:text="'잔여수량 : '+${rental.remain}"></p></a>
        </div>
        <p><a th:href="@{|/rental/${rental.id}|}">대여 현황</a></p>
    </div>
</div>



</body>

<script th:inline="javascript">


    const rentalAddReq = () => {
        location.href="/rental/add";
    }

</script>
</html>