<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>rentalOffer</title>
</head>
<body>

카테고리: <h4 th:text="${rentalDTO.type}"></h4>
물품명: <h4 th:text="${rentalDTO.name}"></h4>
잔여 수량: <h4 th:text="${rentalDTO.remain}"></h4>
대여 위치: <h4 th:text="${rentalDTO.location}"></h4>

<form th:action="@{'/rental/offer'}" method="post" enctype="multipart/form-data">
    <input type="text" name="userName" th:value="${userName}" hidden> <br>
    <input type="text" name="rentalId" th:value="${rentalDTO.id}" hidden> <br>
    대여 기간 : <input type="datetime-local" name="startDate" id="startDate" readonly> ~ <input type="datetime-local" name="endDate"><br>
    <input type="submit" value="신청하기">
</form>

<script>
    // 현재 시간을 가져오는 함수
    function getCurrentDateTime() {
        const now = new Date();
        const year = now.getFullYear();
        const month = (now.getMonth() + 1).toString().padStart(2, '0');
        const day = now.getDate().toString().padStart(2, '0');
        const hours = now.getHours().toString().padStart(2, '0');
        const minutes = now.getMinutes().toString().padStart(2, '0');
        const dateTimeString = `${year}-${month}-${day}T${hours}:${minutes}`;
        return dateTimeString;
    }

    // input 요소에 현재 시간을 설정
    const startDateInput = document.getElementById('startDate');
    startDateInput.value = getCurrentDateTime();
</script>
</body>
</html>