<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <link rel="stylesheet" type="text/css" href="/rentalStyles.css">
    <link rel="stylesheet" type="text/css" href="/menuStyles.css">
    <title>list</title>
</head>
<body>

<h1 id="logo">동아리 관리 시스템</h1>
<nav id="main-nav">
    <div id="menu-items">
        <button onclick="boardPagingReq()" id="boardPagingBtn">자유게시판</button>
        <button onclick="rentReq()" id="rentBtn">대여 시스템</button>
        <button onclick="todoReq()" id="todoBtn">일정 관리</button>
        <button onclick="scoreReq()" id="scoreBtn">동아리 평가</button>
        <button onclick="clubReq()" id="clubBtn">동아리 현황</button>
        <button th:if="${id != 'anonymousUser'}" onclick="favoriteReq()" id="favoriteBtn">즐겨찾기 조회</button>
    </div>
</nav>



<h3>대여시스템</h3>
<button onclick="rentalAddReq()">대여물품 추가</button>
<hr>

<!--th:if="${id != 'anonymousUser'}"-->

<!--<table>-->
<!--    <tr>-->
<!--        <th>순번</th>-->
<!--        <th>카테고리</th>-->
<!--        <th>물품명</th>-->
<!--        <th>총 수량</th>-->
<!--        <th>위치</th>-->
<!--        <th>잔여 수량</th>-->
<!--        <th>현황표</th>-->
<!--    </tr>-->
<!--    <tr th:each="rental: ${rentalList}">-->
<!--        <td th:text="${rental.id}"></td>-->
<!--        <td th:text="${rental.type}"></td>-->
<!--        <td th:text="${rental.name}"></td>-->
<!--        <td th:text="${rental.totalCount}"></td>-->
<!--        <td th:text="${rental.location}"></td>-->
<!--        <td th:text="${rental.remain}"></td>-->
<!--        <td><a th:href="@{|/rental/${rental.id}|}">대여 현황</a></td>-->
<!--        <td><a th:href="@{|/rental/offer/${rental.id}|}">신청</a></td>-->
<!--    </tr>-->
<!--</table>-->



<div id="rental-items">
    <div th:each="rental: ${rentalList}">
        <div class="rental-item">
            <a th:href="@{|/rental/offer/${rental.id}|}"><img src="/noFile.png" alt="Rental Item Image"></a>
            <p th:text="'물품명 : '+${rental.name}"></p>
            <p th:text="'위치 : '+${rental.location}"></p>
            <p th:text="'잔여수량 : '+${rental.remain}"></p>
            <a th:href="@{|/rental/${rental.id}|}">대여 현황</a>
        </div>
    </div>
</div>



</body>

<script>

    const rentalAddReq = () => {
        location.href="/rental/add";
    }

    const boardPagingReq = () => {
        location.href="/board/paging";
    }

    const favoriteReq = () => {
        location.href="/favorite/list"
    }

    const rentReq = () => {
        location.href="/rental/"
    }

    const clubReq = () => {
        location.href="/club/"
    }

    const todoReq = () => {
        // if (id.startsWith('admin')) {
        //     location.href="/todo/admin";
        // } else {
        //     location.href="/todo/user";
        // }
        location.href="/todo/user";
    }


    const scoreReq = () => {
        location.href="/score/";
    }

</script>
</html>