<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>update</title>
</head>
<body>
<h3 th:text="'학번 : '+${userDTO.username}"></h3>
<h3 th:text="'이름 : '+${userDTO.realName}"></h3>
<h3 th:text="'전화번호 : '+${userDTO.phoneNumber}"></h3>

<form action="/rental/offer/update" method="post" name="updateForm">
    <input type="hidden" name="rentalId" th:value="${rentalId}">
    <input type="hidden" name="id" th:value="${renterId}">
    대여 시작일: <input type="datetime-local" name="startDate" th:value="${renterDTO.startDate}"> <br>
    대여 반납일: <input type="datetime-local" name="endDate" th:value="${renterDTO.endDate}"> <br>
    <input type="hidden" name="userName" th:value="${userDTO.username}">
    <input type="submit" value="수정하기">
</form>

</body>