<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/menuStyles.css">
    <link rel="stylesheet" type="text/css" href="/baseFrame.css">
    <link rel="stylesheet" type="text/css" href="/todoAdminDetail.css">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">



    <title>detail</title>
    <!-- jquery cdn -->
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
</head>
<body>

<div th:replace="header :: header"></div>

<div class="container">
    <div class="flex-item">
        <div class="item">
            <div class="todo-main">
                <button onclick="deleteReq()" id="delete-button">삭제</button>
                <div class="title"><h2 th:text="${todoDTO.title}"></h2></div>
                <div class="todo-writer">
                    <span class="name" th:text="${todoDTO.writer}"></span>
                    <span class="name" th:text="*{#temporals.format(todoDTO.startTime, 'yyyy-MM-dd  HH:mm')}"></span>
                </div>
                <div class="todo-content">
                    <h3 th:text="${todoDTO.content}"></h3>
                </div>
            </div>
        </div>
        <div th:if="${scoreDTO != null}" class="item">
            <div id="score-info">

                <a class="seeButton" data-toggle="modal" href="#scoreUpdateModal">동아리 평가 수정</a>
                <div class="modal fade" id="scoreUpdateModal" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">×</button>
                                <h1 class="modal-title">동아리 평가 수정</h1>
                            </div>
                            <div class="modal-body">
                                <th:block th:replace="scoreUpdate::scoreUpdate(${scoreDTO})"></th:block>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="duration">
                    <span th:text="'제출기한 : ['+*{#temporals.format(todoDTO.startTime, 'MM-dd   HH:mm')}+'] ~ '"></span>
                    <span th:text="'['+*{#temporals.format(scoreDTO.endTime, 'MM-dd   HH:mm')}+']'"></span>
                </div>
                <div class="duration">
                    <span class="date"
                          th:text="'지각 제출 : ['+*{#temporals.format(scoreDTO.lateTime, 'MM-dd   HH:mm')}+']까지'"></span>
                </div>
                <table>
                    <thead>
                    <tr>
                        <th>정상제출</th>
                        <th>지각제출</th>
                        <th>미제출</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td th:text="${scoreDTO.normalSubmit}">점</td>
                        <td th:text="${scoreDTO.lateSubmit}">점</td>
                        <td th:text="${scoreDTO.noSubmit}">점</td>
                    </tr>
                    </tbody>
                </table>

                <table>
                    <thead>
                    <tr>
                        <th>1등</th>
                        <th>2등</th>
                        <th>3등</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td th:text="${scoreDTO.plusRank1}">점</td>
                        <td th:text="${scoreDTO.plusRank2}">점</td>
                        <td th:text="${scoreDTO.plusRank3}">점</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="flex-item">
        <div class="item">
            <div id="complete-list">
                <h3 class="head-text">제출한 동아리 목록</h3>
                <table>
                    <tr th:each="comment: ${completeCommentList}">
                        <td>
                            <a th:href="@{|/todo/receivedTodo/${comment.clubId}/${todoDTO.id}|}"
                               th:text="${comment.clubName}"></a>
                        </td>
                        <td th:text="*{#temporals.format(comment.createdTime, 'yy.MM.dd   HH:mm')}"></td>
                        <td th:if="${comment.fileAttached == 1}" class="file_input">
                            <a th:href="${'/fileFolder/'+comment.storedFileName}" th:text="${comment.originalFileName}" download></a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="item">
            <div id="incomplete-list">
                <h3 class="head-text">미제출 동아리 목록</h3>
                <table>
                    <tr th:each="club: ${clubDTOList}">
                        <td>
                            <a th:href="@{|/todo/receivedTodo/${club.id}/${todoDTO.id}|}"
                               th:text="${club.clubName}"></a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
<script th:inline="javascript">
    const deleteReq = () => {
        console.log("삭제 요청");
        const id = [[${todoDTO.id}]];
        location.href = "/todo/delete/" + id;
    }
</script>
</html>