<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/menuStyles.css">
    <link rel="stylesheet" type="text/css" href="/baseFrame.css">
    <link rel="stylesheet" type="text/css" href="/todoAdminDetail.css">
    <title>detail</title>
    <!-- jquery cdn -->
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
</head>
<body>

<div th:replace="header :: header"></div>



<div class="container">
    <div class="item">
        <div class="todo-main">

            <div class="title"><h2 th:text="${todoDTO.title}"></h2></div>
            <div class="todo-writer">
                <span class="name" th:text="${todoDTO.writer}"></span>
                <span class="name" th:text="*{#temporals.format(todoDTO.startTime, 'yyyy-MM-dd  HH:mm')}"></span>
            </div>
            <div class="todo-content">
                <div class="margin-top">
                    <span th:text="'['+*{#temporals.format(todoDTO.startTime, 'yy.MM.dd HH:mm')}+'] ~ '"></span>
                    <span th:text="'['+*{#temporals.format(todoDTO.endTime, 'yy.MM.dd HH:mm')}+']'"></span><br>
                </div>
                <h3 th:text="${todoDTO.content}"></h3>
            </div>

            <a th:href="@{|/todo/user/update/${todoDTO.id}|}" class="seeButton">수정</a>
            <a th:href="@{|/todo/user/delete/${todoDTO.id}|}" class="seeButton">삭제</a>
        </div>
    </div>
</div>
</body>

</html>