<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>detail</title>
    <!-- jquery cdn -->
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
</head>
<body>
<table>
    <tr>
        <th>id</th>
        <td th:text="${todoDTO.id}"></td>
    </tr>
    <tr>
        <th>writer</th>
        <td th:text="${todoDTO.writer}"></td>
    </tr>
    <tr>
        <th>title</th>
        <td th:text="${todoDTO.title}"></td>
    </tr>
    <tr>
        <th>content</th>
        <td th:text="${todoDTO.content}"></td>
    </tr>
    <tr>
        <th>시작일</th>
        <td th:text="*{#temporals.format(todoDTO.startTime, 'yy.MM.dd HH:mm')}"></td>
    </tr>
    <tr>
        <th>마감일</th>
        <td th:text="*{#temporals.format(todoDTO.endTime, 'yy.MM.dd HH:mm')}"></td>
    </tr>
    <tr>
    <th>등록일</th>
    <td th:text="*{#temporals.format(todoDTO.createdTime, 'yy.MM.dd HH:mm')}"></td>
</tr>
</table>
<hr>

<div id="clubList">
    <h3>해당 동아리 목록</h3>
    <table>
        <tr th:each="club: ${clubDTOList}">
            <td th:text="${club.id}"></td>
            <td th:text="${club.clubName}"></td>
        </tr>
    </table>


</div>
</body>
</html>