<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>detail</title>
    <link rel="stylesheet" type="text/css" href="/menuStyles.css">
    <link rel="stylesheet" type="text/css" href="/baseFrame.css">
    <link rel="stylesheet" type="text/css" href="/receivedStyles.css">
    <!-- jquery cdn -->
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"
            integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
</head>
<body>


<div th:replace="header :: header"></div>


<div class="container">
    <div class="item">
        <form action="/receivedTodoComment/update" method="post" name="updateForm" enctype="multipart/form-data">
            <input type="hidden" name="todoId" th:value="${todoId}">
            <input type="hidden" name="id" th:value="${commentId}">
            <input type="hidden" name="clubId" th:value="${clubId}">
            <table>
                <tr>
                    <td>타입</td>
                    <td><input type="text" name="type" th:value="${todoCommentDTO.type}" readonly></td>
                </tr>
                <tr>
                    <td>내용</td>
                    <td><textarea name="content" cols="30" rows="10" th:text="${todoCommentDTO.content}"></textarea>
                    </td>
                </tr>
                <tr class="bottom-none">
                    <td>파일</td>
                    <td><input type="file" id="resultFile" name="resultFile" placeholder="파일" onchange="fileSelect(this.files)"></td>
                </tr>
                <tr>
                    <td></td>
                    <td id="fileList-td">
                        <div id="file-list">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="submit-td">
                        <input type="submit" class="submit-button" value="수정하기">
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>


</body>
<script th:inline="javascript">

    const firstOriginalFileName = [[${todoCommentDTO.originalFileName}]];
    const firstStoredFileName = [[${todoCommentDTO.storedFileName}]];

    if (firstOriginalFileName != null) {
        document.addEventListener("DOMContentLoaded", () => {
            const fileList = document.getElementById('file-list');
            const item = document.createElement('div');
            const fileNameSpan = document.createElement('span');
            const fileName = document.createTextNode(firstOriginalFileName);
            const deleteButton = document.createElement('button');
            deleteButton.addEventListener('click', (event) => {
                item.remove();
                event.preventDefault();
                const deleteItem = document.createElement('input');
                deleteItem.setAttribute("name", "deleteFileId");
                deleteItem.setAttribute("value", firstStoredFileName);
                deleteItem.setAttribute("type", "hidden");
                fileList.appendChild(deleteItem);
            });
            deleteButton.innerText = "x";
            fileNameSpan.appendChild(fileName);
            item.appendChild(fileNameSpan);
            item.appendChild(deleteButton);
            fileList.appendChild(item);
        });
    }


    let selectFile = [];

    function fileSelect(file) {

        const fileList = document.getElementById('file-list');
        while (fileList.firstChild) {
            fileList.removeChild(fileList.firstChild);
        }


        selectFile.push(file[0]);

        const item = document.createElement('div');
        const fileNameSpan = document.createElement('span');
        const fileName = document.createTextNode(file[0].name);
        const deleteButton = document.createElement('button');

        deleteButton.classList.add('small-button');

        deleteButton.addEventListener('click', (event) => {
            item.remove();
            event.preventDefault();
            deleteFile(file[0]);
        });

        deleteButton.innerText="X";
        fileNameSpan.appendChild(fileName);
        item.appendChild(fileNameSpan);
        item.appendChild(deleteButton);
        fileList.appendChild(item);

    }

    function deleteFile(deleteFile) {
        const inputFile = document.querySelector('input[name="resultFile"]');
        const dataTransfer = new DataTransfer();
        selectFile = selectFile.filter(file => file!==deleteFile);
        selectFile.forEach(file => {
            dataTransfer.items.add(file);
        })
        inputFile.files = dataTransfer.files;
    }

</script>

</html>