td, th {
    text-align: left;
}

.input-td input {
    font-size: 1.25rem;
}

.submit-button {
    width: 100%;
    background-color: #313c41;
    color: white;
    font-weight: bold;
}

.submit-td {
    padding: 0;
}