.club-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.club-item {
    margin-bottom: 20px;
    margin-top: 20px;
    box-sizing: border-box;
    text-align: center;
    border: 2px solid #d4d4d4;
    border-radius: 10px;
    background-color: whitesmoke;
}

img {
    margin-top : 10px;
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

h2 {
    text-align: center;
}

th {
    text-align: center;
}

.add-table {
    text-align: left;
}

.add-table td {
    padding-bottom: 10px;
}