



a#home_like {
    text-decoration: none; /* 밑줄 제거 */
    color: white;          /* 글자색을 검은색으로 설정 */
    font-size: 2.59rem;
    padding: 20px;
}


#menu-items {
    display: flex;
    justify-content: center; /* 중앙 정렬 (선택 사항) */
    align-items: center; /* 세로 중앙 정렬 (선택 사항) */
    margin-right: 8rem;
}



#logo {
    padding-left: 10px;
    text-align: center;
    font-size: 2rem;
}



#main-nav {
    background-color: #0e102f;
    margin-bottom: 4rem;
    /*border-bottom: 3px solid #a7a7a7; !* 테두리 추가 *!*/
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
    padding: 5px 0 10px;
    border-radius: 10px;
}

#menu-items .nav-item , .dropdown a {
    margin-left: 1.3rem; /* 좌측 마진 설정 */
    margin-right: 1.3rem; /* 우측 마진 설정 */
    font-weight: bold;
    text-align: center;
    background-color: transparent;
    text-decoration: none;
    font-size: 1.62rem;
}


.nav-item, #logout, .dropdown a  {
    padding: 10px 10px 0;
    margin: 5px;
    cursor: pointer;
    /*background-color: #38454b;*/
    /*color: white;*/
    border: none;
    border-radius: 4px;
}

#logout {
    padding: 10px;
    margin: 5px;
    background-color: #38454b;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}



button{
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    background-color: #38454b;
    color: white;
    border: none;
    border-radius: 4px;
}


button:hover, .nav-item {
    background-color: #4e77be;
}

#menu-items .nav-item:hover, .dropdown a {
    color: #bbdfff8f;
}


h1,h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    font-weight: bold;
    line-height: 1.1;
    color: inherit;
}

.seeButton {
    display: inline-block;
    font-size: 1.3rem;
    padding: 6px 10px;
    margin-bottom: 10px;
    background-color: #333; /* 어두운 배경색 */
    color: #fff; /* 흰색 글자색 */
    text-decoration: none; /* 링크 기본 스타일 제거 */
    border-radius: 5px; /* 버튼을 둥글게 만들기 */
    border: 1px solid #333; /* 테두리 추가 */
}

.seeButton:hover {
    background-color: #555; /* 호버 상태일 때 어두운 배경색으로 변경 */
}

.modal-title {
    text-align: center;
}

.semi-head {
    font-size: 1.25rem;
    font-weight: bold;
}


.small-button {
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1.1rem;
    background-color: #7f8583;
}

.top-header , .container {
    width: 1100px;
    margin : 0 auto;
}


.dropdown-ul {
    list-style-type: none;
}

#menu-items a {
    color: #e9ebec;
}