body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


#logo {
    padding: 10px;
    text-align: center;
    font-size: 50px;
}

#login-items {
    display: flex;
}


button, #logout {
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    background-color: #38454b;
    color: white;
    border: none;
    border-radius: 4px;
}

#main-nav {
    background-color: #333;
    padding: 5px;
}

#menu-items {
    display: flex;
    justify-content: center; /* 중앙 정렬 (선택 사항) */
    align-items: center; /* 세로 중앙 정렬 (선택 사항) */
}

#menu-items button {
    margin-left: 27px; /* 좌측 마진 설정 */
    margin-right: 27px; /* 우측 마진 설정 */
    font-weight: bold;
    text-align: center;
    background-color: transparent;
    font-size: 20px;
}


button:hover {
    background-color: #45a049;
}
