

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}



h2 {
    margin : 9px;
    border-bottom: 2px solid #ccc; /* 밑줄 스타일 추가 */
    padding-bottom: 4px;
}


/*********************************************구조*******************************************/

[class$="box"] {
    flex: 1;
    padding: 10px;  /* 여백 추가 (옵션) */
    border-radius: 6px;
    background-color: white;
    margin: 10px 30px 30px;
    text-align: center;
    border: 2px solid #d4d4d4;
}


#main-container {
    background-color: #f7f7f7;
    display: flex;
    margin: 10px;
}

/********************좌측 컨테이너*****************/

#left-container {
    flex: 0.3;
    display: flex;
    flex-direction: column;
}

.login-box {
    flex: 0.1;
}



#login-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#login-info > div {
    flex: 1;
}

/********************우측 컨테이너*****************/

#right-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/***********************************************/

#right-top-container, #right-bottom-container, #todo-container, #extraInfo-container, #clubInfo-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}


/*********************************************************************************************/




#login-items {
    display: flex;
}




th, td {
    text-align: center;
}

.todo-table th {
    border-bottom: 2px solid #888; /* 밑줄 스타일 추가 */
}

.todo-table tr:nth-child(even) {
    background-color: #f9f9f9; /* 짝수 행 배경색 */
}



#user-table {
    border-collapse: collapse;
}

#user-table th:first-child {
    border-right: 2px solid #888; /* 첫 번째 열의 오른쪽에 회색 테두리 추가 */
}



.round-graph {
    position: relative;
    display:inline-block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transition: 0.3s;
}
span.center{
    background: #fff;
    display : block;
    position: absolute;
    top:50%; left:50%;
    width:100px; height:100px;
    border-radius: 50%;
    text-align:center;
    line-height: 100px;
    font-size:30px;
    transform: translate(-50%, -50%);
}


#my-photo {
    width: 100%;
    object-fit: cover;
}

#img-box {
    width: 150px;
    height: 100px;
    border-radius: 10%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

}


/*막대그래프*/
.zt-skill-bar {
    color: #fff;
    font-size: 11px;
    line-height: 25px;
    height: 25px;
    margin-bottom: 5px;

    background-color: rgba(0,0,0,0.1);

    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;

}

.zt-skill-bar * {
    webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.zt-skill-bar div {
    background-color: #0c0e54;
    position: relative;
    border-radius: 2px;
}

.zt-skill-bar span {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    padding: 0 5px 0 10px;
    background-color: #1a1a1a;

    -webkit-border-radius: 0 2px 2px 0;
    -moz-border-radius: 0 2px 2px 0;
    -ms-border-radius: 0 2px 2px 0;
    border-radius: 0 2px 2px 0;
}

.zt-skill-bar span:before {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    top: 50%;
    left: -3px;
    margin-top: -3px;
    background-color: #1a1a1a;

    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}